
/* 定义下拉菜单样式 */

.nav,.nav li ul{margin:0;padding:0;}
.nav {list-style-type:none;}
.nav li {position:relative;float:left;}
.nav li ul {display:none;position:absolute;top:15px;padding-top:5px;list-style-type:none;}
.nav li ul li {padding-left:0px;background-color: #FFFFFF;clear: both;}
.nav li ul li a{text-decoration: none;color: #000000;white-space:nowrap; display:block;padding: 3px 0px;background-color:#F0F0F0;}
.nav li ul li a:hover{background-color: #5BADFF; color: #FFFFFF;}

.nav li.spec a{
	text-decoration: none;color: #000000;white-space:nowrap; display:block;padding-left:3px;padding-right:5px;
}

.nav li.spec a:hover{background-color: #5BADFF; color: #FFFFFF;}


/*-----------------------------------------------------------------------------------------*/


/* 定义页面头部显示信息 */

#mainbar {
	border:1px solid;
	border-style: none none solid none;
	border-color: #000000; /*5BADFF*/
	width: 1010px;
	padding-top:20px;
	padding-left:5px;
	padding-bottom:2px;
	margin-bottom: 20px;
	font-weight:bold;
	background-color: #F0F0F0;
}

/*取消浮动样式 ，通用  */
#mainbar .clear_div{
	clear: both;
}

/*上左  */
#mainbar .top_left{
	float: left;
	height:65px;
}

#mainbar .top_left .main_head{
	font-style:normal;
	font-weight:bold;
	font-size:36px;
	float:none;
	font-family:"黑体";
}

/*上右  */
#mainbar .top{
	margin-bottom: 5px;
	overflow: hidden;
}

#mainbar .top_right{
	float: right;
	height:65px;
}

#mainbar .top_right .main_blank{
	height:30px;
	float:none;
	text-align:right;
}

#mainbar .top_right .main_info{
	height:15px;
	text-align:right;
}


/* 下左 */
#mainbar .second_left{
	float: left;
}

/* 下左链接 */
#mainbar .second_left a{
	padding: 3px 3px;
	text-decoration: none;
	color:#000000;
	white-space:nowrap;
}
#mainbar .second_left a:hover{background-color: #5BADFF; color: #FFFFFF;}


/* 下右 */
#mainbar .second_right{
	float: right;
}

#mainbar .second_right .img_down{
	height: 12px;
	width: 10px;
}

/*-----------------------------------------------------------------------------------------*/


